<h1>You should call you baby <%= @topic.title %></h1>
<p id="notice"><%= notice %></p>


<p>
  <b>cuz <%= @topic.description %></b>
</p>


<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
